body {
    font-family: 'Assistant', sans-serif;
    font-weight: 200;
}

.banner {
    max-width: 100%;
    display: block;
}

.title {
    position: absolute;
    top: 1em;
    left: 1em;
    max-width: 70%;
    font-size: 3em;
    color: rgb(249, 249, 249)
}

@media (max-width: 440px) {
    .title {
        max-width: 50%;
        font-size: 2em;
    }

    h1.section-heading {
        padding: 1rem;
    }

    figure.repo-card {
        padding: .5rem;
    }

    img.tiny-logo {
        width: 75%;
        padding: 1rem;
    }
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1em;
    background-color: rgb(143, 4, 3);
  }

li > a {
    color: rgb(249, 249, 249);
}

li > a:hover {
    color: rgb(249, 249, 249);
    border-bottom: 2px solid white;
    text-decoration: none;
}

.section-heading {
    text-align: left;
    padding: 2rem 2rem;
    font-size: 3rem;
}

.subsection {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.repo-card {
    margin: 1rem;
    padding: 2rem;
    text-align: center;
    width: 250px;
    flex-basis: 250px;
    flex-grow: 0;
}

.tiny-logo {
    width: 100%;
    padding: 1rem;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1em;
    background-color: rgb(143, 4, 3);
    color: rgb(249, 249, 249);
  }

  .feet {
    width: 50%;
    flex-grow: 0;
    padding: 4rem 1rem;
    text-align: center;
}

  .donate {
      border-radius: 3px;
      text-transform: uppercase;
      background-color: rgb(249, 249, 249);
      color: black;
      padding: 5px 30px;
  }

  .social-media {
      max-width: 40px;
  }